/* Lists of stories */

.stories-list {
  margin: 20px 5px;
  /* display: flex;
  flex-direction: column;
  margin: 8px 18px 0; */
}

.stories-list>li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  position: relative;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

#favorited-stories,
#my-stories {
  list-style: none;
  padding-left: 20px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
  position: relative;
  /* left: px; */
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  color: green;
  font-weight: bold;
  display: block;
  position: relative;
  left: -4px;
  margin-top: 5px;
  font-size: small;
}

.story-user {
  display: block;
  color: orange;
  font-weight: bold;
  position: relative;
  left: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: small;
}

.star,
.trash {
  font-size: 0.75rem;
  margin: 0 2px;
  cursor: pointer;
}

.trash:hover {
  color: crimson;
}

hr {
  border: 0.01px solid lightgray;
  opacity: 0.5;
}